@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VWA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VWA_TFE.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav id="vwa-nav">
            <ul id="navbar">
                <li><a asp-area="" asp-controller="Home" asp-action="Index"><img id="vwa-logo" src="~/vwa-logo.svg" alt="vwa-logo" /></a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">HOME</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">ABOUT</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">CONTACT</a></li>
                @if (SignInManager.IsSignedIn(User))
                {
                        <li class="align-right">
                            <a asp-area="" asp-controller="Account" asp-action="Profile">HELLO @UserManager.GetUserName(User).ToUpper()</a>
                        </li>
                        <li class="align-right">
                            <form id="logoutForm" method="post" asp-controller="Account" asp-action="Logout">
                                <button type="submit">LOGOUT</button>
                            </form>
                        </li>
                        @if(User.IsInRole("Administrator")){
                            <li class="align-right">
                                <a asp-area="" asp-controller="Administration" asp-action="Index">ADMINISTRATION</a>
                            </li>
                        }
                }
                else
                {
                    <li class="align-right">
                        <a asp-area="" asp-controller="Account" asp-action="Login">LOGIN</a>
                    </li>
                    <li class="align-right">
                        <a asp-area="" asp-controller="Account" asp-action="Register">REGISTER</a>
                    </li>
                }
            </ul>
            @if(!SignInManager.IsSignedIn(User))
            {
                <ul id="misc">
                    <li><a>Topics</a></li>
                    <li><a>News</a></li>
                </ul>
            }
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="text-center">
            &copy; 2022 - vanCuijlenborgWebApps - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>
    
</body>
</html>
