@model LoginViewModel
@using VWA_TFE.ViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> signInManager

@{
    ViewData["Title"] = "Login";
}

<div class="row g-3 p-3 align-items-center">
    <h2 class="mb-1">Welcome back !</h2>
    <form class="mb-3" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form" class="align-center">
        <!--Username action handling-->
        <div class="mb-3">
            <label asp-for="UserName" class="form-label">Username</label>
            <input class="form-control" asp-for="UserName" placeholder="ex: johndoe" />
        </div>
        

        <!--password action handling-->
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" class="form-control" placeholder="myVerySecurePassword" />
        </div>

        <div class="form-check">
            <label asp-for="RememberMe" class="form-check-label">
                @Html.DisplayNameFor(m => m.RememberMe)
            </label> 
            <input asp-for="RememberMe" class="form-check-input"/>
        </div>

        <button class="text-center btn btn-primary btn-customized mt-4" type="submit">Log in</button>
    </form>
</div>