@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "About";
}


<div class="text-center">
    <div class="d-inline align-items-center">
        <image class="svg-icons d-inline align-middle" src="\icons\fi-rr-exclamation.svg" /> &nbsp; <h1 class="d-inline align-middle">@ViewData["Title"]</h1>
    </div>

    <p>VWA est une application en ligne à but professionel pour démontrer nos qualités de développement.</p>
    <p>VWA Enterprise Dashboard permet de gérer les membres de l'entreprise et permet aux membres de se connecter et d'accéder à leurs données,...</p>

    <figure class="text-center">
      <blockquote class="blockquote">
        <p>You need to be proud of your job to love yourself.</p>
      </blockquote>
      <figcaption class="blockquote-footer">
          <cite title="Source Title">VWA Organisation</cite>
      </figcaption>
</figure>
</div>