@{
    ViewData["Title"] = "Home";
}

<div class="pt-3 px-2">
    <h1>Des solutions informatiques sur mesure pour répondre à tous vos besoins</h1>
    <blockquote> - Découvrez comment nous pouvons réaliser votre projet informatique dès aujourd'hui !</blockquote>

    <div class="row">
        <img class="w-25 align-baseline col-md-1" src="~/icons/dev-icon.svg" />
        <p class="col">La créativité humaine n'a pas de limites, nous pouvons vous créer des sites web, applications dans tout genre ainsi que des programmes de Machine Learning</p>
    </div>
</div>
